<div class="sidebar">

    <h5 class="text-center mt-3 mb-4 text-white">

        MENU

    </h5>

    <a href="/">

        <i class="bi bi-speedometer2"></i>

        Dashboard

    </a>

    <a href="/audit">

        <i class="bi bi-search"></i>

        New Audit

    </a>

    <a href="/reports">

        <i class="bi bi-file-earmark-text"></i>

        Reports

    </a>

    <a href="/settings">

        <i class="bi bi-gear-fill"></i>

        Settings

    </a>

</div>